<h1>Your Places</h1>

<div class="row">
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</div>

<p>
  <a href="/places/new">Add a new place</a>
</p>
